{% extends 'base.html' %}

{% block page_content %}

{#{% block style %}#}
{#    <style>#}
{#        .logos {#}
{#            height: auto;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}
    <form action="{% url 'edit hall' pk=object.pk slug=object.slug %}" method="post" class="input-forms">
        <h3>Edit hall</h3>
        <p>Name:</p>
        {{ form.name }}
        <p>Rows:</p>
        {{ form.rows }}
        <p>Seats per row:</p>
        {{ form.seats_per_row }}
        <p>Description:</p>
        {{ form.description }}
        <p>Image:</p>
        {{ form.image }}
        {% csrf_token %}
        <div class="create-hall-button">
            <button>Edit hall</button>
        </div>

    </form>

{% endblock %}