{% extends 'base.html' %}
{% load placeholders %}


{% block page_content %}

    <form action="{% url 'register user' %}" method="post" class="input-forms">
        <h3>Registration</h3>
        <p>Username:</p>
        {{ form.username|placeholder:'Username' }}
        <p>Email:</p>
        {{ form.email|placeholder:'Email' }}
        <p>Password:</p>
        {{ form.password1|placeholder:'Password' }}
        <p>Repeat password:</p>
        {{ form.password2|placeholder:'Repeat password' }}
        {% csrf_token %}
        <div class="register-button">
            <button>Register</button>
        </div>

    </form>

{% endblock %}