{% extends 'base.html' %}
{% load placeholders %}


{% block page_content %}

{#{% block style %}#}
{#    <style>#}
{#        .logos {#}
{#            height: auto;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}
    <form action="{% url 'add projection' %}" method="post" class="input-forms">
        <h3>Add new projection</h3>
        <p>Date:</p>
        {{ form.date|placeholder:'dd-mm-yyyy' }}
        <p>Hour:</p>
        {{ form.hour|placeholder:'HH:MM' }}
        <p>Hall:</p>
        {{ form.hall }}
        <p>Movie:</p>
        {{ form.movie }}
{#        {{ form }}#}
        {% csrf_token %}
        <div class="addpro-button">
            <button>Add projection</button>
        </div>

    </form>

{% endblock %}