{% extends 'base.html' %}
{% load static %}

        <header>
{#        {% include 'common/navbar.html' %}#}
        {% include 'common/background.html' %}
        </header>
{#{% endblock %}#}

{% block page_content %}

        <div class="article">
            <div class="icon"><i class="fa-solid fa-film"></i></div>
            <h2>Maecenas lectus sapien</h2>
            <p>In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque viverra vulputate enim. Aliquam erat volutpat.</p>
        </div>
        <div class="article">
            <div class="icon"><i class="fa-solid fa-video"></i></div>
            <h2>Maecenas lectus sapien</h2>
            <p>In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque viverra vulputate enim. Aliquam erat volutpat.</p>
        </div>
        <div class="article">
            <div class="icon"><i class="fa-solid fa-ticket"></i></div>
            <h2>Maecenas lectus sapien</h2>
            <p>In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque viverra vulputate enim. Aliquam erat volutpat.</p>
        </div>
        <div class="article">
            <div class="icon"><i class="fa-solid fa-square-phone"></i></div>
            <h2>Maecenas lectus sapien</h2>
            <p>In posuere eleifend odio. Quisque semper augue mattis wisi. Pellentesque viverra vulputate enim. Aliquam erat volutpat.</p>
        </div>



{% endblock %}

